{#
/**
 * Websitetoolboxforums plugin for Craft CMS 3.x
 *
 * Websitetoolboxforums Settings.twig
 *
 * @author    Websitetoolbox
 * @copyright Copyright (c) 2019 nystudio107
 * @link      https://websitetoolbox.com/
 * @package   Websitetoolboxforums
 * @since     3.0.0
 */
#}

 
<p>Please see <a href="https://docs.vanillaforums.com/help/sso/jsconnect/" target="_blank">jsConnect Single Sign-On (SSO) </a> for details on how to set up Websitetoolbox Forums to use SSO</p>

 